@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: e0e6f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.thank-you-container {
    text-align: center;
    color: white;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.thank-you-message h1 {
    font-size: 3rem;
    color: black;
    text-shadow: 0 0 20px green;
    animation: glowText 1.5s infinite alternate;
}

.thank-you-message p {
    font-size: 1.2rem;
    color: black;
    opacity: 0.8;
    margin-top: 10px;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 10px solid rgb(0, 0, 0);
    border-top: 10px solid white;
    border-radius: 50%;
    margin: 20px auto;
    animation: spin 2s linear infinite;
}

.go-back {
    background-color: transparent;
    border: 2px solid e0e6f7;
    color: e0e6f7;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.go-back:hover {
    background-color: e0e6f7;
    color: e0e6f7;
    box-shadow: 0 0 20px darkgreen;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes glowText {
    0% {
        text-shadow: 0 0 20px rgb(0, 255, 0);
    }
    100% {
        text-shadow: 0 0 40px rgb(0, 255, 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
